@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Reem+Kufi+Ink&display=swap');

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFBE0B;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-family: 'Fredoka One', cursive;

}

nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  margin-left: 70px;
}

body {
  background-color: #FDFFB6;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.carrito {
  color:black;
}

img {
  width:50%;
  height: 50%;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.imagenes {
  margin: 30px;
}


a {
  text-decoration: none;
  color: rgb(255, 238, 238);
}

.linkInicio {
  color: #FF006E;
}

.bordeCards {
border-radius: 10px;
border: 2px solid black;
}

footer {
  color: rgb(255, 238, 238);
  display: flex;
  justify-content: center;
  background-color: #FF006E;
  padding-bottom: 2px;
  margin-bottom: 0px;
  margin-top: 30px;
}

